:root {
  color: #1f271b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;

  grid-template: 1fr 5fr / 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar project";
  gap: 5px;
  height: 100vh;
}
nav {
  grid-area: sidebar;
  background-color: #1f271b;
  color: #d8e1d3;
}

header {
  grid-area: header;
  background-color: #ede7b1;
  display: grid;
  grid-template:1fr 1fr/ 2fr 1fr;
  grid-template-areas:
    "search user"
    "greetuser btn";
}

main {
  grid-area: project;
  background-color: #a1a6b4;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}

#search-bar,
#user,
.user-greet,
.btn-container {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
    align-items: center;
}

#search-bar {
  grid-area: search;


}

#user {
  grid-area: user;
}

.user-greet {
  grid-area: greetuser;

}

.btn-container {
  grid-area: btn;
  justify-content: space-evenly;

}

#project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 50px repeat(auto-fit, minmax(250px, 2fr));
  align-items: center;
  gap: 15px;

}

#project h3 {
    grid-column: 1 / -1;
}

.card {
    border: 1px solid red;
    height: 80%;
}
