:root {
  color: #1f271b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;

  grid-template: 1fr 5fr / 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar project";

  height: 100vh;
}
nav {
  grid-area: sidebar;
  background-color: #1f271b;
  color: #d8e1d3;
}

header {
  grid-area: header;
  background-color: #ede7b1;
  display: grid;
  grid-template: 1fr 1fr/ 2fr 1fr;
  grid-template-areas:
    "search user"
    "greetuser btn";
  padding: 5px 25px;
}

main {
  grid-area: project;
  background-color: rgba(161, 166, 180, 0.3);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  padding: 0px 15px;
}

#search-bar,
#user,
.user-greet,
.btn-container {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  align-items: center;
}

#search-bar {
  grid-area: search;
}

#user {
  grid-area: user;
  justify-content: end;
}

.user-greet {
  grid-area: greetuser;
}

.btn-container {
  grid-area: btn;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 50px, repeat(auto-fit, minmax(1fr, 200px));
  justify-content: center;

  gap: 15px;
}

#updates {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h3 {
  padding: 10px 0px;
}

.card {
  border: 1px solid rgb(161, 166, 180);
  height: 200px;
  background-color: rgba(161, 166, 180, 0.7);
  border-radius: 9px;
  padding: 10px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}
