:root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar project";
}
nav {
    grid-area: sidebar;
}

header {
    grid-area: header;
}

main {
    grid-area: project;
}

#search-bar, #user-display {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "searchbar user"
    "usergreet btn";
}

#search {
    grid-area: searchbar;
}

#user {
    grid-area: user;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.user-greet {
    grid-area: usergreet;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.btn-container {
    grid-area: btn;
}


